/* Add here all your CSS customizations */
.custom-text-color-primary{
    color: #0088CC !important;
}
.custom-primary{
    background-color: #0088CC !important;
}

/* .flip-card{ 
    background-color: #F7F7F7 !important;
} */

.cursor-pointer{
    cursor: pointer !important;
}